

@import '../../style/variables.module.scss';

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $primary-color ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.886);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-nav {
  display: flex;
  gap: 20px;
}


