.services-item{
    background-color: #82A0C4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(152, 149, 149, 0.877);
    width: 275px;
    height: 150px;
    padding: 30px 40px;
}

.services-item:hover{
    box-shadow: 0 4px 20px rgba(122, 119, 119, 0.877);
}