@import "../../style/variables.module.scss";

.article-block {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin: 40px;
}
.article-block img {
  width: 200px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}

.article-text {
  background-color: $background-color;
  position: absolute;
  bottom: 16px;
  left: 158px;
  border-radius: 20px;
}

.article-title {
  background-color: $primary-color;

  padding: 10px;
}
.article-description{
  width: 1000px;
}