@import "../../style/variables.module.scss";

.article-block {
  display: flex;
  margin: 40px;
  border-radius: 20px;
}

.article-block img {
  width: 200px;
  height: 200px;

}

.article-text {
  background-color: $background-color;
 border-radius: 20px ;
  padding: 0 0 20px;
}

.article-title {
  background-color: $primary-color;
margin:0 0 20px;
  padding: 20px;
  border-radius: 20px 0 70px;
  color: $background-color;
}
.article-description{
  width: 1000px;
}

.article-main{
  display: flex;
}
