@import "../../style/variables.module.scss";

.consultation{

    &-wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-block{
        display: flex;
        gap: 20px;
        background-color: $background-color;
        margin: 20px;
        padding: 20px;
        border-radius: 30px 10px;
        box-shadow: 0 10px 1cqw rgb(137, 129, 129)
    }
    &-title{
        background-color: $primary-color;
        color: $background-color;
        width: 30%;
        border-radius: 30px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-text{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-result{
        // padding: 20px;
        // border-radius: 70px;
        line-height: 1.8;
    }
    &-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        border-radius: 30px;

        &-price{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}