@import "../../style/variables.module.scss";

.about-me{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 100px 0 40px;
  @media screen and (min-width: 1024px) {
    margin-top: 170px;
  }
}