@import '../../style/variables.module.scss';


.razom-rehab { 
    &-title {
      font-size: 40px;
      color: rgba(246, 211, 69);
    }
    &-text {

      padding: 20px 0;
    }
    &-accent {
      color: rgba(246, 211, 69);
    }
    &-btn {
      margin-top: 20px;
    }

    @media screen and (min-width: 1024px) {
     
      &-btn {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }