.title{
    font-size: 32px;
    padding-bottom: 20px;
}

.slider-container{
    margin-top: 20px;
}
// .slick-slide {
//     padding: 10px 15px;
// }
/* the slides */
// .slick-slide {
//     margin: 0 10px;
// }
/* the parent */
// .slick-list {
//     margin: 0 -10px;
// }
// .slick-prev
// .slick-next{
//     top: 24%;
// }
